.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: .5rem;
  padding-bottom: .25rem;

  border-bottom: 3px double darkblue;
}

.div > button {
  cursor: pointer;
  
  padding: .2rem;
  font-weight: 500;
  font-size: .8rem;
  margin-top: -.25rem;
  border-radius: .2rem;
  
  color: royalblue;
  background-color:white;
  border: 2px solid royalblue;
  
  transition: color .5s, border .5s;
}

.div > button:hover {
  color: darkblue;
  border-color: darkblue;
}