.span  {
  margin-top: -.25rem;
}

.yes {
  background-color:green;
}

.no {
  background-color:red;
}

.yes, .no {
  cursor: pointer;

  padding: .4rem;
  margin: 0 .5rem;
  border: none;
  border-radius: .2rem;
  
  font-weight: 600;
  color: white;  
  
  transition: filter .2s;
}

.yes:hover, 
.no:hover {
  filter: brightness(.8);
}


