.yes, .no {
  cursor: pointer;
  padding: .2rem;
  background-color: white;
  margin: 0 .5rem;
  font-weight: 600;
}

.yes:hover, 
.no:hover {
  color: black;
  border-color: black;
}

.yes {
  border: 2px solid green;
  color:green;
}

.no {
  border: 2px solid red;
  color:red;
}

